body{
    font-size:18px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.head_title{
    font-size: 2rem;
}
#gallery, #career, #skills, #accounts{
    padding: 1em;
}
.section_title{
    text-align:center;
    font-weight: bold;
}
.table td{
    font-size: 0.8em;
}
.table th{
    font-size: 1.0em;
    font-weight: bold;
}
button{
    padding: 0;
}

/* galleryセクション */
.portfolios{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around; */
    /* width:  */
}
.portfolios .portfolio{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    height: 80vw;
    margin-top: 0.5em;
}
.container_portfolios .portfolio img{
    width: 40%;
    height: 40%;
}

/* accountsセクション */
.footer_page .container_accounts{
    display: flex;
    justify-content: space-around;
}
/* footerページ */
.footer_page{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color:black;
    color: white;
    padding: 1em;
}
.footer_page .copyright{
    float: right;
    /* position: relative;
    bottom: 0;
    right: 0; */
}
@media screen and (min-width: 1024px){
    #gallery, #career, #skills, #accounts{
        width: 60%;
        margin: 0 auto;
    }
}